<div class="panel panel-info">
  <div class="panel-heading">
    <h3> Player Value Analyzer </h3>
  </div>

  <div class="panel-body">
    <%= bootstrap_form_tag url: "player_value_results", method: "post" do |f| %>

      <div class="row centered">
        <div class="col-xs-6">
          <%= f.select :year, @years, { label: "Year", :prompt => "Select a year" } %>
        </div>
      </div>
      
      <div class="row centered">
        <div class="col-xs-12">
          <%= f.submit "Analyze" %>
        </div>
      </div>
      
    <% end %>

  </div>
</div>