<table class="table table-striped">
  <tr>
    <th>yo</th>
    <th>yo</th>
    <th>yo</th>
    <th>yo</th>
  </tr>


  <tr>
    <td>yo</td>
    <td>yo</td>
    <td>yo</td>
    <td>yo</td>
  </tr>
  <tr>
    <td>yo</td>
    <td>yo</td>
    <td>yo</td>
    <td>yo</td>
  </tr>
</table>