<div class="panel panel-info">
  <div class="panel-heading">
    <h3> Head to Head User Prediction </h3>
  </div>

  <div class="panel-body">
    <%= bootstrap_form_tag url: "h2h_user_results", method: "post" do |f| %>

      <div class="row centered">
        <div class="col-xs-6">
          <%= f.select :team1, @teams, { label: "Team 1:", :prompt => "Select a team"}%>
        </div>

        <div class="col-xs-6">
          <%= f.select :team2, @teams, { label: "Team 2:", :prompt => "Select a team" } %>
        </div>
      </div>
      
      <div class="row centered">
        <div class="col-xs-12">
          <%= f.submit "Analyze" %>
        </div>
      </div>
      
    <% end %>

  </div>
</div>