<div class="panel panel-info">
  <div class="panel-heading">
    <h3>Season Simulation</h3>
  </div>

  <div class="panel-body centered">
    <%= bootstrap_form_tag url: "season_sim_results", method: "post" do |f| %>
      <div class="row">
        <div class="col-xs-12">
          <%= f.select :season, @years, { label: "Select season" } %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= f.submit "Simulate" %>
        </div>
      </div>
    <% end %>
  </div>
</div>